@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
$default-background: rgb(44, 39, 39); 
$text-color: white;
$background-button: black;

*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;;
}
html,body{
    width: 100%;
    background: $default-background;
}
#root{
    background-image: url(../../images/background.jpg);
    background-repeat: no-repeat;
    background-size:100%;
    bottom: 0;
    left: 0;
    overflow: auto;
    padding: 3em;
    position: absolute;
    right: 0;
    top: 0;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 800px;
    height: 300px;

    @media (max-width: 640px){
        width: 400px;
    }
}
.container-movies{
    margin: auto;
    .back{
        color: $text-color;
        background: $default-background;
        border-radius: 10px;
        padding: 14px;
        text-decoration: none;
        font-size: 1.2em;
        width: 25px;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover{
            background: rgb(92, 90, 90);
            transition: all .4s;
        }
    }
    ul{ 
        margin-top: 30px;
        background-color: rgba(37, 44, 44, 0.7);
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        li{
            padding: 10px;

            img:hover{
                transform: scale3d(1.1,1.1,1.1);
                transition: all .6s;
            }
        }
    }
}
.movies-errors, .error{
    padding: 50px;
    background-color: rgba(37, 44, 44, 0.7);    

    p{
        font-size: 1.4em;
        color: $text-color;
    }

    .back{
        color: $text-color;
        background: $default-background;
        border-radius: 10px;
        padding: 14px;
        text-decoration: none;
        font-size: 1.2em;
        width: 25px;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover{
            background: rgb(92, 90, 90);
            transition: all .4s;
        }
    }
}
.isloaded{
    padding: 50px;
    background-color: rgba(37, 44, 44, 0.7);  
    p{
        font-size: 1.4em;
        color: $text-color;
    }    
}